<strong>Olá, {{organize}}</strong>
<p>Uma nova inscrição foi realizada,confira os detalhes abaixo:</p>
<p>
    <strong>Nome:</strong> {{user}} </br>
    <strong>Email:</strong> {{email}} </br>
    </br>

</p>
